[flake8]
exclude =
    .git,
    __pycache__,
    */migrations/*,
    */static/*,
    */media/*,
    */templates/*,
    *.pyc,
    .env,
    .venv,
    env,
    venv,
    .eggs,
    *.egg,
    build,
    dist,
    docs,
    .tox,
    .pytest_cache,
    .mypy_cache,
    manage.py,
    */settings.py,